:root {
    --primary-color: orange;
    --secondary-color:yellow;
    --font-size: 25px;
    --padding: 20px;
    --gap: 25px;
}




*{
    margin: 0;
    padding: 0;
}

body{
     background-color:var(--secondary-color);
}

#header-container{
    font-size: 20px;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.slogan {
    font-size: var(--font-size);
}


.links{
    list-style: none;
    padding: var(--padding);
    display: flex;
    gap: 50px;
    
}

.image-container{
    height: 100vh;
    display: flex;
    justify-content: center;
}


footer{
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color);
    text-align: center;
    padding: var(--padding);
    gap: 10px;

}