:root {
    --primary-color: orange;
    --secondary-color:yellow;
    --font-size: 25px;
    --padding: 10px;
    --gap: 25px;
}




*{
    margin: 0;
    padding: 0;
}

body{
     background-color:var(--secondary-color);
}

#header-container{
    font-size: 20px;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}


.about-me{
    text-align: center;
    padding: var(--padding);
    text-decoration: underline;
}


.links{
    list-style: none;
    padding: var(--padding);
    display: flex;
    gap: 50px;
    
}

.image-container{
    height: 100vh;
    display: flex;
    justify-content: center;
}

#projects{
    text-align: center;
    position: absolute;
    top: 30%;
    right: 60%;
    font-size: 19px;
}

.cases{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
    
}

#section-container{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: center;
    gap: 10px;
   

}

.slogan {
    font-size: var(--font-size);
    text-align: center;
}
.slogan2{
    text-decoration: underline;
    text-align: center;
}

footer{
    display: flex;
    flex-direction: column;
    margin-top: 30%;
    background-color: var(--primary-color);
    text-align: center;
    padding: var(--padding);
    gap: 10px;

}