*{
    margin: 0;
    padding: 0;
}

body{
     background-color:yellow;
}

#header-container{
    font-size: 20px;
    background-color: orange;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.slogan {
    font-size: 20px;
    
}

.links{
    list-style: none;
    padding: 20px;
    display: flex;
    gap: 50px;
    
}

.image-container{
    height: 100vh;
    display: flex;
    justify-content: center;
}


footer{
    display: flex;
    flex-direction: column;
    background-color: orange;
    text-align: center;
    padding: 50px;
    gap: 10px;

}