:root {
    --primary-color: orange;
    --secondary-color:yellow;
    --font-size: 25px;
    --padding: 10px;
    --gap: 25px;
}

*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color:var(--secondary-color);

}

/* HOME */

#header-container{
    font-size: 20px;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.image-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("images.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

.content{
    position: absolute;
    color:rgb(239, 235, 235);
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    top: 30%;
    right: 50%;
}



.links{
    list-style: none;
    padding: var(--padding);
    display: flex;
    gap: 50px;
    
}


.cases{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
    
}

.slogan {
    font-size: var(--font-size);
    text-align: center;
}

/* ABOUT */

.about-container{
    border: 2px solid black;
    border-radius: 15px;
    text-align: center;
    padding: var(--padding);
    margin: 50px;

}

.about-me{
    text-align: center;
    padding: var(--padding);
    margin-bottom: 25px;
    text-decoration: underline;
}

.about-slogan{
    line-height: 1.5;
    font-size: 20px;
}

/* SERVICES */

#service-container{
    border: 2px solid black;
    border-radius: 15px;
    text-align: center;
    padding: var(--padding);
    margin: 50px;
}

.slogan2{
    text-decoration: underline;
    text-align: center;
    padding: var(--padding);
    margin-bottom: 25px;
}

.card{
    font-size: 20px;
    line-height: 1.5;
}

/* APPOINTMENTS */

#contact{
      border: 2px solid black;
      box-shadow: 10px 10px 8px 10px #888888;
      text-align: center;
      padding: var(--padding);
      border-radius: 15px;
      margin: 50px auto;
      /* centers div in the middle */
      width: 50%;
}

#contact .slogan2{
    font-size: 30px;
    margin-bottom: 20px;
}

#contact .email1, #contact .phone{
    font-size: 20px;
    margin-bottom: 20px;

}

#contact .form{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    gap: 10px;
}

#contact a {
    font-weight: bold;
}

#contact textarea{
    min-height: 75px;
}







footer{
    margin-top: auto;
    background-color: var(--primary-color);
    text-align: center;
    padding: var(--padding);
    gap: 10px;

}