*{
    margin: 0;
    padding: 0;
}

body{
     background-color:yellow;
}

#header-container{
    background-color: orange;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    
}

.links{
    list-style: none;
    padding: 20px;
    display: flex;
    gap: 20px;
    
}